#app {
  display: flex;
  flex-direction: column;

  & aside {
    padding: 1.5rem;
    background-color: var(--surface-secondary);
    order: 1;

    & .aside-container {
      max-width: 31rem;

      & header {
        display: grid;
        justify-content: center;
      }
      & > img {
        margin-top: 0.75rem;
      }
    }
  }
  & main {
    padding: 1.5rem;
    order: 2;
    & .main-container {
      max-width: 33rem;
      margin-left: auto;
    }
    & .back {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 1.5rem;
    }

    & h1 {
      font: 600 1.5rem/1.25 var(--font-family);
      margin-bottom: 0.5rem;
    }
  }
}
@media (max-height: 50rem) {
  main,
  aside {
    padding: 2rem 4rem;
  }
}

@media (width>=80em) {
  #app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;

    height: 100vh;
    overflow: hidden;

    & main {
      order: 1;
      overflow: auto;
      padding: 4rem;
    }

    & aside {
      padding: 4rem;

      & h2 {
        font: 600 2.5rem/1.25 var(--font-family);
        margin-block: 0.5rem;

        & span {
          color: var(--text-highlight);
        }
      }
      & .aside-container header > img {
        display: grid;
        justify-self: start;
      }

      & .aside-container > img {
        margin-top: 2rem;
      }
    }
  }
}
